# Data Wrangling with Python: U.S Census Data

<img src="figs/andy_productivity.jpg" width="300"/>

## About The Project
***
Frequently when we work with data, we encounter unstructured and messy data. Messy data can take a variety of forms. This could mean any of the following:

- The columns are mislabeled or do not have variable names.
- The dataset contains nonsensical data.
- Variables are stored in both columns and rows.

While the data may be messy, it is still highly informative. We need to clean, transform, and sometimes manipulate the data structure to gain any insights. This process is often called **data wrangling**.

Having clean data will improve data quality. Ultimately, this will allow us to make better data-driven decision for the business.

This project aims to demonstrate some methods for cleaning data. After the data is cleaned, it will be analyzed through visualization to find interesting insights.

## The Dataset
***
The dataset is a dummy dataset obtained from Codecademy Data Scientist Career Path.

We have 10 csv files, each file have different rows and with the same columns.

<img src="figs/dataset_collection.png" width="700"/>

## Data Loading and Inspecting
***
Instead of importing the dataset one-by-one, we can easily import and combine all the dataset using `glob`.

In [182]:
# import libraries
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt
import seaborn as sns

In [183]:
!ls datasets/

cleaned_data.csv states1.csv      states4.csv      states7.csv
read.txt         states2.csv      states5.csv      states8.csv
states0.csv      states3.csv      states6.csv      states9.csv

In [191]:
import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
for dirname, _, filenames in os.walk('datasets/'):    
    for filename in filenames:
        print(os.path.join(dirname, filename))

datasets/cleaned_data.csv
datasets/states8.csv
datasets/states9.csv
datasets/states4.csv
datasets/states5.csv
datasets/states7.csv
datasets/states6.csv
datasets/states2.csv
datasets/states3.csv
datasets/states1.csv
datasets/states0.csv
datasets/read.txt

In [185]:
# load datasets
# read files and append them in a list

In [186]:
# see sample of data

In [168]:
# check columns of the dataset

Index(['index', 'Unnamed: 0', 'State', 'TotalPop', 'Hispanic', 'White',
       'Black', 'Native', 'Asian', 'Pacific', 'Income', 'GenderPop'],
      dtype='object')

In [187]:
# quick overview of data

In [ ]:
# lets make the copy of the dataframe so that we can compare it afterwards.

By glancing at the data sample and its data types, we can see some messiness in our data, some of them:
- Variable `index` and `Unnamed: 0` seems doesn't add any information to our data.
- The race variable (`Hispanic`, `White`, `Black`, etc.) shows percentage yet the data types is **object**.
- `Income` appears to shows continous numbers, yet the data type is **object**.
- Variable `GenderPop` shows the population for male and female. It would be better to separate this column to each gender population.

Before cleaning and transforming the dataset, let's see if our data has missing values and duplicated values

In [171]:
## lets check the duplicate values

### 1. Remove unused variable

In [173]:
# remove the `index` and `Unnamed: 0` column

### 2. Change the races and income variable to integer data type

To change the races and income variable to numeric data type, first we must non-numeric character from its data and leave only numbers. After that, we can change its data type to integer/float.

### 3. Separate `GenderPop` column into two columns, the `MalePop` column and the `FemalePop` column

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop,MalePop,FemalePop
0,Rhode Island,1053661,13.36%,74.33%,5.68%,0.35%,3.25%,0.04%,"$59,125.27",510388M_543273F,510388M,543273F
1,South Carolina,4777576,5.06%,62.89%,28.75%,0.29%,1.25%,0.05%,"$46,296.81",2322409M_2455167F,2322409M,2455167F
2,South Dakota,843190,3.24%,82.50%,1.42%,9.42%,1.02%,0.04%,"$51,805.41",423477M_419713F,423477M,419713F

Let's also convert these separated columns into numeric data type.

Finally, let's drop the `GenderPop` column.

Now the races and income columns have correct data type. We also separate the gender population into male and female and convert its data types to numeric.

### 4. Handling Missing Values

Previously, only `Pacific` variable has missing values. Since we have transformed previous genderpop column to separate columns, it seems like some data for `FemalePop` are also missing.

First, let's handle missing value for `Pacific` race column. We will fill the missing values with average value of the column.

### 5. Handle Duplicate Data

In [21]:
## lets count number of duplicate data points

False    51
True      9
dtype: int64

There are 9 duplicates in the dataset. We will drop those duplicates

In [22]:
# size of data before drop duplicates

(60, 11)

In [23]:
# size of data after drop duplicates

(51, 11)

Well done!! We have cleaned the data through some simple and effective method. Lets take a look of before and after we cleaned the dataset.

In [24]:
print('Before dataset is cleaned: \n')
print(us_census_raw.dtypes)
us_census_raw.head()

Before dataset is cleaned:

index          int64
Unnamed: 0     int64
State         object
TotalPop       int64
Hispanic      object
White         object
Black         object
Native        object
Asian         object
Pacific       object
Income        object
GenderPop     object
dtype: object

,index,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,0,0,Alabama,4830620,3.75%,61.88%,31.25%,0.45%,1.05%,0.03%,"$43,296.36",2341093M_2489527F
1,1,1,Alaska,733375,5.91%,60.91%,2.85%,16.39%,5.45%,1.06%,"$70,354.74",384160M_349215F
2,2,2,Arizona,6641928,29.57%,57.12%,3.85%,4.36%,2.88%,0.17%,"$54,207.82",3299088M_3342840F
3,3,3,Arkansas,2958208,6.22%,71.14%,18.97%,0.52%,1.14%,0.15%,"$41,935.63",1451913M_1506295F
4,4,4,California,38421464,37.29%,40.22%,5.68%,0.41%,13.05%,0.35%,"$67,264.78",19087135M_19334329F

In [25]:
print('After dataset is cleaned: \n')
print(us_census.dtypes)
us_census.head()

After dataset is cleaned:

State         object
TotalPop       int64
Hispanic     float64
White        float64
Black        float64
Native       float64
Asian        float64
Pacific      float64
Income       float64
MalePop        int64
FemalePop    float64
dtype: object

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,MalePop,FemalePop
0,Alabama,4830620,3.75,61.88,31.25,0.45,1.05,0.03,43296.36,2341093,2489527.0
1,Alaska,733375,5.91,60.91,2.85,16.39,5.45,1.06,70354.74,384160,349215.0
2,Arizona,6641928,29.57,57.12,3.85,4.36,2.88,0.17,54207.82,3299088,3342840.0
3,Arkansas,2958208,6.22,71.14,18.97,0.52,1.14,0.15,41935.63,1451913,1506295.0
4,California,38421464,37.29,40.22,5.68,0.41,13.05,0.35,67264.78,19087135,19334329.0

Finally, let's save our cleaned dataset for future analysis

## Conclusion
***

Through cleaning this dataset, we can obtain informative findings that previously would be impossible. So far, what we have done for cleaning data are:

- Remove unused column
- Create new columns based on existing column
- Using regex to manipulate string data
- Convert data type to another type
- Check and handle missing values
- Check and drop duplicated data